body{
     background-color:black;
    
}
.Navigation{
   color:black;
   position: absolute;
   font-size: 1.3rem;
}
.nav.nav-pills{
    font-size: 1.3rem;
    position: absolute;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    display:block;
    background-color: white;
    color: black;
    text-align: center;
  }
